@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240	5%	67%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 218.67 100% 26.47%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --success: 140, 65%, 50%;
    --success-foreground: 210 40% 98%;

    --ring: 218.67 100% 26.47%;

    --radius: 1rem;

    --embloy: 53 99% 65%;
    --embloy-foreground: 53 99% 65%;
  }

  .dark {
    --background: 254 32% 8%; 
    --foreground: 207.69 35.14% 100%;
    
    --muted: 259 27% 14%;
    --muted-foreground: 215 8% 70%;

    --accent: 259 27% 14%;
    --accent-foreground: 256 90% 88%;

    --popover: 254 32% 8%;
    --popover-foreground: 207.69 35.14% 100%;

    --border: 256 78% 79%;
    --input: 256 78% 79%;

    --card: 254 32% 8%;
    --card-foreground: 207.69 35.14% 100%;

    --primary: 260 25% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 259 27% 14%;
    --secondary-foreground: 210 17.39% 81.96%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --success: 160, 100%, 50%;
    --success-foreground: 222.2 47.4% 1.2%;

    --ring: 260 25% 31%;

    --radius: 1rem;

    --embloy: 152, 85%, 78%;
    --embloy-foreground: 152, 85%, 78%;
  }
}

.underline-gradient {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.underline-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #99F7CB, #99FFFF);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.underline-gradient:hover::after {
  left: -100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
