@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --success: 140, 65%, 50%;
    --success-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 1rem;
  }

  .dark {
    --background: 240 10% 3.92%; 
    --foreground: 207.69 35.14% 92.75%;
    
    --muted: 215 21.43% 10.98%;
    --muted-foreground: 214.74 7.95% 46.86%;

    --accent: 215, 15.38%, 15.29%;
    --accent-foreground: 210 40% 98%;

    --popover: 240 10% 3.92%;
    --popover-foreground: 207.69 35.14% 92.75;

    --border: 215, 15.38%, 15.29%;
    --input: 215, 15.38%, 15.29%;

    --card: 240 10% 3.92%;
    --card-foreground: 207.69 35.14% 92.75%;

    --primary: 131.52 58.58% 33.14%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 21.43% 10.98%;
    --secondary-foreground: 210 17.39% 81.96%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --success: 160, 100%, 50%;
    --success-foreground: 222.2 47.4% 1.2%;

    --ring: 215, 15.38%, 15.29%;

    --radius: 1rem;
  }
}

.underline-gradient {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.underline-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #99F7CB, #99FFFF);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.underline-gradient:hover::after {
  left: 0;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
